<!DOCTYPE html>

  <body>
    <div class="index-container">
      <fieldset>
        <form action="/api/league/" method="post">
          <input name="summoner" type="text" class="ghost-input" placeholder="Summoner name" required>
          <input type="submit" class="ghost-button" value="Get Summoner Stats">
        </form>
        
      {{#if summoner}}
      <p>Your Summoner name is {{summoner}}</p>
      <p>Your current Rank is {{level}}</p>
      {{/if}}
    </div>
  </body>
</html>